<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
    <style>
        input{
            font-size: 36px;
        }
        label{
            font-size: 36px;
        }
    </style>
</head>
<body>
<form th:method="PATCH" th:action="@{/book/{id}(id=${book.getBook_id()})}" th:object="${book}">
    <label for="title">Enter title:</label>
    <input type="text" th:field="*{title}" id="title"/>
    <br/>
    <label for="author">Enter author:</label>
    <input type="text" th:field="*{author}" id="author">
    <br/>
    <label for="year_of_release">Enter year of release:</label>
    <input type="text" th:field="*{year_of_release}" id="year_of_release">
    <br/>
    <label for="person_id">Assign a book:</label>
    <input type="text" th:field="*{person_id}" id="person_id">
    <br/>
    <input type="submit" value="update">
</form>
</body>
</html>