<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        a{
            font-size: 28px;
            word-spacing:25px;
        }
    </style>
</head>
<body>

<div th:each="book : ${books}">
    <a
            th:href="@{/book/{id}(id=${book.getBook_id()})}"
            th:text="${book.getTitle()+', '+book.getAuthor()+', '+book.getYear_of_release()}">user</a>
</div>

<br/>
<hr/>

<a style="word-spacing: normal" href="/book/new">add a new book</a>
<br/>
<a style="word-spacing: normal" href="/person">readers</a>


</body>
</html>