<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>book</title>
    <style>
        p, a, form{
            font-size: 36px;
        }
    </style>
</head>
<body>
<p th:text="${book.getTitle() + ' ' + book.getAuthor()}">VALUE</p>
<p th:text="${'yera of release: ' + book.getYear_of_release()}">VALUE</p>
<p th:text="${book.getBook_id()}">VALUE</p>

<a th:href="@{/book/{id}/edit(id=${book.getBook_id()})}">Edit</a>
<br/>
<form th:method="DELETE" th:action="@{/book/{id}(id=${book.getBook_id()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>