<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/person/{id}(id=${person.getPerson_id()})}" th:object="${person}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname">
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age">
    <br/>
    <label for="phone">Enter phone number: </label>
    <input type="text" th:field="*{phone_number}" id="phone">
    <br/>
    <input type="submit" value="update"/>
</form>

</body>
</html>