<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        a{
            font-size: 28px;
            word-spacing:25px;
        }
    </style>
</head>
<body>

<div th:each="person : ${persons}"><a
        th:href="@{/person/{id}(id=${person.getPerson_id()})}"
        th:text="${person.getName() + ', ' + person.getSurname()+', '+person.getAge()+', '+person.getPhone_number()}">user</a>
</div>

<br/>
<hr/>

<a style="word-spacing: normal" href="/person/new">register a new reader</a>
<br/>
<a style="word-spacing: normal" href="/book">books</a>

</body>
</html>