<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>show</title>
    <style>
        p, a, form{
            font-size: 36px;
        }
    </style>
</head>
<body>

<p th:text="${person.getName() + ' ' + person.getSurname()+' '+person.getAge()}">VALUE</p>
<p th:text="${'phone number: ' + person.getPhone_number()}">VALUE</p>
<p th:text="${person.getPerson_id()}">VALUE</p>

<a th:href="@{/person/{id}/edit(id=${person.getPerson_id()})}">Edit</a>
<br/>
<form th:method="DELETE" th:action="@{/person/{id}(id=${person.getPerson_id()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>